* {
    box-sizing: border-box;
}

.card_container {
    width: 350px;
    height: 530px;
     margin: 5px;
    padding: 8px;
    flex-shrink: 0;
    text-align: center;
    
}

.img_div {
    width: 100%;
 }

.img_div img {
    object-fit: cover;
    height: 300px;
    filter: grayscale(100%);
}

 
a{
    color: black;
    text-decoration: none;
}

